@font-face {
	font-family: 'Menlo';
	font-style: normal;
	src:
		local('Menlo'),
		local('Menlo Regular'),
		url('menlo.otf') format('opentype');
}

body {
	margin: 0px;
	overflow: hidden;
	background-color: black;
}